

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);


$paragraphs: hsla(0, 0%, 100%, 0.75);
$buttons: hsl(0, 0%, 95%);



$mobile: 375px;
$desktop: 1440px;